:root {
    --red: #B23850;
    --blue: #3B8BEB;
    --beige: #E7E3D4;
    --lightblue: #AFC1EF;
    --bluegray: #8590AA;
    --green: #A79B63;
    --brown: #605747;
    --white: #F7F9FB;
}


* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--brown);
}

header {
    padding: 20px;
    background-size: cover;
    background-position: bottom;
    background-color: var(--green);
}

header a {
    text-decoration: none;
    color: var(--white);
}

nav {
    padding-top: 10px;
    margin-right: 20px;
    float: right;
    font-size: 25px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

h1 {
    display: inline-block;
    font-size: 40px;
    color: var(--white);
}

h2 {
    display: block;
    color: var(--white);
    font-size: 30px;
    text-shadow: 3px 3px 5px #605747;
}

main {
    padding: 20px;
    width: 100%;
    display: block;
}

section {
    width: 100%;
}

p {
    display: block;
    font-weight: 200;
    color: var(--brown);

}

.cell {
    display: inline-flex;
    width: 100%;
    margin-top: 20px;
    padding: 30px;
    box-shadow: 3px 3px 8px;
    background-color: var(--beige);
}

.headshot {
    float: left;
    box-shadow: 2px 2px 10px;
    max-width: 15%;
    min-width: 120px;
    height: auto;
}

.cell p {
    display: inline-block;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 18px;
}

.cell h2 {
    margin-left: 30px;
    min-width: 170px;
}

.work-info a{
    padding: 20px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-info ul {
    list-style-type: none;
    display: flex;
    justify-content:space-evenly;
    align-items: baseline;
    font-size: 25px;
    color: var(--brown);
}

.contact-info a {
    text-decoration: none;
    font-size: 25px;
    color: var(--brown);
}

.contact-info ul li p{
    font-size: 25px;
    color: var(--brown);
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.contact-info img {
    margin-right: 10px;
    max-width: 35px;
}



@media screen and (max-width: 950px) {
    header {
        width: 100%;
        padding: 0px;
        text-align: center;
        padding-top: 15px;
        background-image: none;
    }

    h1 {
        font-size: 20 px;
        padding-bottom: 15px;
    }

    nav {
        font-size: 15px;
        width: 100%;
        margin-right: 0px;
        padding: 5px;
    }

    .cell {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        min-width: 440px;
    }
}